<storageServices>
	<storageService class="com.tesis.aether.core.services.storage.imp.local.LocalStorageService">
		<parameter key="localBaseFolder" value="d:/remote_mock/"/>
	</storageService>
	<!-- 
	<storageService class="com.tesis.aether.core.services.storage.imp.google.storage.GoogleV1StorageService">
		<parameter key="googleStorageAccessKey" value=""/>
		<parameter key="googleStorageSecretKey" value=""/>
	</storageService>
	<storageService class="com.tesis.aether.core.services.storage.imp.s3.S3StorageService">
		<parameter key="s3AccessKey" value=""/>
		<parameter key="s3SecretKey" value=""/>
	</storageService>
	 -->
</storageServices>